{{ define "main" }}
<header class="text-center mb-4">
  <img src="/images/logo.png" alt="JakBalitHolky.com" class="logo" width="300" />
</header>
<main>
  <h1 class="text-center">
    Spolehlivý a ověřený návod 
    pro balení holek se <u>100% garancí úspěchu!</u>
  </h1>
  <div class="text-center alert alert-dark mt-4" style="font-style: italic; color:white;background-color: #505050;">
    <div style="font-size:1.6em;">
      👉👉 Jsme skupina úspěšných mužů - máme v životě vše, co jsme si kdy přáli.
      
      <div class="mt-2">
        Máme <span style="font-style: normal;">💸</span> peníze, 
        <span style="font-style: normal;">👨‍💼</span> úspěch, 
        <span style="font-style: normal;">💃</span> krásné ženy 
        a <span style="font-style: normal;">👪</span> šťastné rodiny.
      </div>
    </div>
  </div>
  <h2 class="text-center mt-4">
    Nepotřebujeme tvoje peníze.
    <br />
    Proto návod nabízíme <strong>zcela zdarma!</strong>
  </h2>
  <hr />
  <p class="fs-4 pt-4 text-center">
    Sníš o tom, že bys mohl mít <strong>jakoukoliv krásnou holku bys chtěl?</strong>
    <br />
    Nebo bys rád <strong>holku ze svých snů?</strong>
  </p>
  <p class="fs-4 pt-4 text-center">
    Na této stránce najdeš návod, který ti pomůže získat <strong>perfektní ženu</strong>.
    <br />
    A to bez toho, abys musel být někým, kým nejsi.
  </p>
  <hr />
  <div class="text-center mt-4">
    <a href="/prvni-krok" class="btn btn-primary btn-lg" style="font-size:xx-large" id="start-button">
      Začít balit holky hned teď!
    </a>
  </div>
  <div style="height: 5em;">

  </div>
</main>
{{ end }}
