{{ define "main" }}
  
<main>
  <h1 class="text-center">
    Spolehlivý, funkční, časem a mnoha muži ověřený, <strong>naprosto zdarma</strong> 
    návod pro balení holek se <u>100% garancí úspěchu!</u>
  </h1>
  <h1 class="text-center pt-4">
    <strong>Sbal holku svých snů ještě dnes!</strong>
  </h1>

  <p class="fs-4 pt-4 text-center">
    Sníš o tom, že bys mohl mít <strong>jakoukoliv krásnou holku bys chtěl?</strong>
    <br />
    Nebo bys rád <strong>holku ze svých snů?</strong>
  </p>
  <p class="fs-4 pt-4 text-center">
    Na této stránce najdeš návod, který ti pomůže získat <strong>perfektní ženu</strong>.
    <br />
    A to bez toho, abys musel být někým, kým nejsi.
  </p>
  <div class="text-center mt-5">
    <a href="/prvni-krok" class="btn btn-primary btn-lg" style="font-size:xx-large" id="start-button">
      Začít balit holky hned teď!
    </a>
  </div>
</main>
{{ end }}
